<!DOCTYPE html>
<html lang="en">
<head>
    <title>FCM Test</title>
</head>
<body>
    <h1>Send FCM Message</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Send</button>
    </form>
    <br>
    <button onclick="subscribe()">Subscribe</button>
    <button onclick="unsubscribe()">Unsubscribe</button>

    <script>
        function subscribe() {
            window.location.href = "{% url 'subscribe' %}";
        }

        function unsubscribe() {
            window.location.href = "{% url 'unsubscribe' %}";
        }
    </script>
</body>
</html>
